@page "/"

<PageTitle>Home</PageTitle>

<h1>AM BodyBuilding & Fitness Center</h1>

Bienvenido a la mejor comunidad Fitness en Guanajuato

<ul class="list-group">
    <li class="list-group-item list-group-item-warning">+ Sano</li>
    <li class="list-group-item list-group-item-warning">+ Fuerte</li>
    <li class="list-group-item list-group-item-warning">+ Fit</li>

</ul>

<img src="https://i.blogs.es/410bab/danielle-cerullo-cqfnt66ttzm-unsplash/1366_2000.jpeg" class="img-fluid" alt="...">